@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--text-white);
}
p, button{  
    font-family: 'PT Sans', sans-serif;
    color: var(--text-white);
}
body{
    margin: 0 auto;
    background: var(--background-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h1{
    font-family: 'Bebas Neue', cursive;
    color: var(--background-dark-blue);
    text-align: center;
    letter-spacing: 1.5rem;
}


#intro{
    height: 90vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 5rem;
}

#personas, #hobbies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
#personas h2, #hobbies h2{
    width: 90%;
    text-align: start;
    color: var(--background-red);
    font-size: 4rem;
}

.persona, .hobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    width: 30%;
    height: auto;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
}
.persona h3, .hobby h3{
    font-size: 1.7em;
    letter-spacing: .1em;
    margin: 1em 0 .5em 0;
}
.persona img{
    max-width: 30%;
    border-radius: 50%;
    border: 2px solid white;
}
.persona p{
    text-align: justify;
    width: 75%;
    line-height: 1.5em;
    margin: .5em 0;
}

#persona-1{
    background: var(--background-red);
}
#persona-1 button{
    border: none;
    padding: .7em 2em;
    border: 2px solid var(--text-white);
    background: var(--background-red);
    color: var(--text-white);
    margin: 1em 0 2em 0;
}
#persona-1 button:hover{
    border: 2px solid var(--background-red);
    background: var(--text-white);
    color: var(--background-red);
}
#persona-2{
    background: var(--background-light-blue);
}
#persona-3{
    background: var(--background-dark-blue);
}

#current-game{
    text-align: start;
}

#hobbies h2{
    text-align: end;
    color: var(--background-dark-blue)
}
#hobby-1, #hobby-5{
    background: var(--background-yellow);
}
#hobby-1 h3, #hobby-5 h3{
    color: var(--text-black);
}
#hobby-2{
    background: var(--background-blue);
}
#hobby-3{
    background: var(--background-red);
}  
#hobby-6{
    background: var(--background-light-blue);
} 
#hobby-4{
    background: var(--background-dark-blue);
} 


#icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
#icons a{
    width: 100%;
}
#icons p{
    color: var(--text-black);
    margin: 0;
}
footer{
    height: 10vh;
}
footer p{
    color: var(--text-black);
}
