@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --background-dark-blue: #24305E;
    --background-blue: #374785;
    --background-light-blue: #A8D0E6;
    --background-red: #F76C6C;
    --background-yellow: #F8E9A1;
    --background-white: #F5F5F5;
    --text-white: #FFFFFF;
    --text-black: #000000;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--background-dark-blue);
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.crud{
    width: 30%;
}
.posts{
    width: 70%;
    display: flex;
    flex-direction: row;
}


article{
    background: var(--background-dark-blue);
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
article h3, article h4, article p{
    color: var(--text-white);
    padding: 0em 10px;
}
article h3{
    font-size: 24px;
    width: 50%;
}
article h4{
    font-size: 20px;
    width: 100%;
}

.delete{
    height: auto;
    background-image: url('../assets/images/icons/trash/bin.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    width: 20%;
}

.edit{
    height: auto;
    background-image: url('../assets/images/icons/pencil/pencil.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    width: 20%;
}