@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --background-dark-blue: #24305E;
    --background-blue: #374785;
    --background-light-blue: #A8D0E6;
    --background-red: #F76C6C;
    --background-yellow: #F8E9A1;
    --background-white: #F5F5F5;
    --text-white: #FFFFFF;
    --text-black: #000000;
}

h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--text-white);
}
p{  
    font-family: 'PT Sans', sans-serif;
    color: var(--text-white);
}

body{
    margin: 0 auto;
    background: var(--background-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Introduction */
h1{
    font-family: 'Bebas Neue', cursive;
    color: var(--background-dark-blue);
    text-align: center;
}
#intro{
    height: 90vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background: var(--background-white);
    width: 100%;
    font-size: 5rem;
    letter-spacing: 1.5rem;
}

/* Project Cards */
#projects, #mini-contact{
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--background-white); 
    margin-bottom: 5em;
}
#projects h2, #mini-contact h2{
    text-align: start;
    width: 90%;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: .5rem;
    color: var(--background-red);
}
.project-card{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.project-card div{
    height: 25%;
}
.project-card img{
    width: auto;
    max-height: 70%;
}

.project-card h3{
    font-size: 1.5em;
}
.project-card p{
    text-align: center;
    width: 75%;
    line-height: 1.5em;
}
#project-1{
    background: var(--background-dark-blue);
}
#project-2{
    background: var(--background-yellow);
}
#project-2 h3, #project-2 p{
    color: var(--background-dark-blue);
}
#project-3{
    background: var(--background-red);
}

/* Quote Sections */
.quote-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
#self-intro{
    background: hsla(201, 55%, 78%, 1);
    background: linear-gradient(180deg, hsla(201, 55%, 78%, 1) 0%, hsla(228, 41%, 37%, 1) 100%);
}
#quote-block{
    height: 50vh;
    background: var(--background-blue);
}
#self-intro p{
    width: 60%;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    line-height: 1.5em;
}

#daily-quote{
    font-family: serif;
    font-weight: light;
}

/* Mini Contact */
#mini-contact h2{
    text-align: end;
    color: var(--background-blue);
}
#mini-contact div, #mini-contact form{
    width: 40%;
    height: auto;
}

#mini-contact form{
    background: var(--background-red);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#socials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
    background: hsla(228, 41%, 37%, 1);
    background: linear-gradient(225deg, hsla(228, 41%, 37%, 1) 0%, hsla(201, 55%, 78%, 1) 100%);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#socials a{
    width: 50%;
}
#socials source, #socials img{
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

