@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--text-white);
}
p{  
    font-family: 'PT Sans', sans-serif;
    color: var(--text-black);
}

body{
    margin: 0 auto;
    background: var(--background-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main{
    width: 100%;
}

h1{
    font-family: 'Bebas Neue', cursive;
    color: var(--background-dark-blue);
    text-align: center;
    font-size: 5rem;
    letter-spacing: 1.5rem;
}
#intro{
    height: 90vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#resume{
    width: 80%;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#profile{
    display: flex;
    flex-direction: row;
    
}
#profile *{
    width: 50%;
}
#profile h2{
    font-size: 3rem;
    color: var(--background-blue);
}

#work-skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#work-skill h2{
    width: 50%;
}
#work-skill #work{
    width: 50%;
}
#work-skill .skill{
    width: 25%;
}