@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--text-white);
}
p{  
    font-family: 'PT Sans', sans-serif;
    color: var(--text-black);
}

body{
    margin: 0 auto;
    background: var(--background-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main{
    width: 100%;
}

h1{
    font-family: 'Bebas Neue', cursive;
    color: var(--background-dark-blue);
    text-align: center;
    font-size: 5rem;
    letter-spacing: 1.5rem;
}
#intro{
    height: 90vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#resume{
    padding: 2em;
    width: 80%;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#profile{
    display: flex;
    flex-direction: row;
    
}
#profile *{
    width: 50%;
}
#profile h2{
    font-size: 3rem;
    color: var(--background-blue);
    
}

#work-skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#work-skill h2{
    width: 40%;
    color: var(--background-dark-blue);
    text-align: start;
    text-transform: uppercase; 
    letter-spacing: .5rem;
    
}
#work-skill #work{
    width: 40%;
}
#work-skill .skill{
    width: 20%;
}
#work h3, .skill h3{
    text-align: start;
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: var(--text-black);
    margin: 0;
}
#work h4{
    text-align: start;
    font-size: .8em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #3A3B3C;
    margin: .5em 0;
}

/* Project Cards */
#projects, #mini-contact{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
}
#projects h2, #mini-contact h2{
    text-align: start;
    width: 80%;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .5rem;
    color: var(--background-red);
}
.project-card{
    width: 27%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.project-card div{
    height: 28%;
}
.project-card img{
    width: auto;
    max-height: 70%;
}

.project-card h3{
    font-size: 1.5em;
}
.project-card p{
    text-align: center;
    width: 75%;
    line-height: 1.5em;
}
#project-1{
    background: var(--background-dark-blue);
}
#project-2{
    background: var(--background-yellow);
}
#project-2 h3, #project-2 p{
    color: var(--background-dark-blue);
}
#project-3{
    background: var(--background-red);
}

footer{
    height: 10vh;
}
footer p{
    color: var(--text-black);
}